  MONAD_RPC_URL=https://forno.celo.org
  PRIVATE_KEY=0xKEY_BARU
  OWNER_ADDRESS=0x8705ebf208e95fa9af5ccee65f691fb99e93dd4d3677a6445507ffac026bc6af
  STABLE_TOKEN_ADDRESS=0xTOKEN_STABLE_CELO
  MIN_VOTE_AMOUNT=500000
