NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

NEXT_PUBLIC_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_STABLE_TOKEN_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_STABLE_SYMBOL=USDC
NEXT_PUBLIC_STABLE_DECIMALS=6
NEXT_PUBLIC_MIN_BET=0.5
NEXT_PUBLIC_VOTE_MODE=erc20
NEXT_PUBLIC_FEED_TIMEOUT_MS=1200
NEXT_PUBLIC_DEMO_FAST_FALLBACK=true
